body {
  font-family: "Courier New, Courier, monospace";
  font-size: 12px;
  font-weight: 400;
}

.pragma {
  color: #A0522D;
}

.comments {
  color: #A0522D;
}

.strings {
  color:#696969;
}

.number {
  color: #FFA500;
}

.reserved {
  color: #0000CD;
  font-weight: 700;
}

.identifier {
  color: #EE82EE;
}

.symbol {
  color: #808080;
}
